html {
    background-color: #faf0e6;
    padding: 10px;
    font-family: "Cambria", serif;
}

.container {
    background-color: white;
    padding: 10px;
}

h1, h2 {
    color: #0000ff;
    padding-top: 10px;
}

.header {
    float: left;
    padding-left: 20px;
}

.nav {
    float: right;
    font-size: 50px;
    padding-top: 10px;
    padding-right: 50px;
}

.content {
    clear: both;
    padding-left: 20px;
    padding-right: 50px;
    padding-top: 10px;
}