<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Parks Page</title>
</head>
<body>
    {% if name %}
        {% for park in parks %}
            <p>{{ park.name }} </p>
        {% endfor %}
    {% elif loc %}
        {% for park in parks %}
            <p>{{ park.loc }} </p>
        {% endfor %}
    {% elif desc %}
        {% for park in parks %}
            <p>{{ park.desc }} </p>
        {% endfor %}    
    {% else %}
        {% for park in parks %}
            <p>{{ park.name, park.loc }}</p>
            <p>{{ park.desc }}</p>
            <p></p>
        {% endfor %}
    {% endif %}

</body>
</html>